body {
    margin: 0;
    background-image: url('/Memory-Game/assets/wallhaven-4lpgpl_1920x1080.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav-bar {
    position: fixed;
    top:0;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-bar a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Raleway';
}
.nav-bar a:hover {
    color: brown;
    transform: scale(0.9); 
    transition: 0.3s;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}
.main {
    display: flex;
    padding-left: 120px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}
.game-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 80px;
}
.number-game div{
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
}
.number-game img {
    width: 650px;
    height: 400px;
}
.number-game img:hover {
    transform: scale(0.99);
    transition: 0.3s;
}
.card-game {
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
}
.card-game img {
    width: 650px;
    height: 400px;
}
.card-game img:hover {
    transform: scale(0.99);
    transition: 0.3s;
}
.rule-container {
    display: flex;
    justify-content: space-between; 
}
.card-rule {
    margin-right: 80px;
    width: 650px;
    height: 500px;
    word-wrap: break-word;
}
.number-rule {
    margin-left: 80px;
    width: 650px;
    height: 500px;
    word-wrap: break-word;
}
.card-rule div {
    font-family: 'Raleway';
    font-size: 30px;
    text-align: center;
}
.number-rule div {
    font-family: 'Raleway';
    font-size: 30px;
    text-align: center;
}
.rule-container li {
    font-size: 25px;
}
